.contentWrapper {
    padding: 2rem 1rem;
}
.timeline {
    text-align: right;
}
.timestamp-label {
    font-weight: bold;
}
.timestamp-row {
    height: 3rem;
    line-height: 0;
    margin-right: -5px;
}
.ampm-label {
    font-size: 1rem;
}
.eventListWrapper {
    background-color: #ececec;
    position: relative;
    width: 62rem;
    height: 72rem;
}
.eventTile {
    position: absolute;
    overflow: hidden;
    padding: 0 10px;
    background-color: #fff;
    border: 1px solid #4b6ea8;
    border-left: 4px solid #4b6ea8;
}